/* src/styles/navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #99adef;
    color: #fff;
  }
  
  .navbar-logo {
    padding-left: 100px;
    display: flex;
    align-items: center;
  }
  
  .navbar-logo img {
    width: 40px;
    margin-right: 10px;
  }
  
  .navbar-menu {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .navbar-menu a {
    color: #fff;
    text-decoration: none;
  }